@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cinzel&display=swap");

// $arxa-reng: "background-color: red";

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;

  a {
    color: #000;
    text-decoration: none !important;
    transition-duration: 500ms;
    &:hover {
      color: #930077;
      transition-duration: 500ms;
    }
  }

  .wine-header {
    padding: 25px 0;
  }

  .wine-nav {
    height: 60px;
    font-family: "Cinzel", serif;
    .active {
      & > a {
        color: #930077 !important;
      }
    }
    .nav-item {
      padding-right: 30px;
      &:last-child {
        padding-right: 0;
      }
      a {
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 0.05rem;
        font-weight: 400;
        color: #000;
        transition-duration: 500ms;
        &:hover {
          color: #930077;
          transition-duration: 500ms;
        }
      }
    }
  }

  .container-fluid {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    .container {
      .wine-slide {
        position: relative;
        .wine-slide-img {
          background-size: cover;
          background-position: center center;
        }
        .owl-theme {
          .custom-nav {
            position: absolute;
            top: 40%;
            left: -10%;
            right: -10%;

            .owl-prev,
            .owl-next {
              position: absolute;
              height: 100px;
              color: inherit;
              background-color: #fff;
              border: none;
              z-index: 100;

              i {
                font-size: 2.5rem;
                color: gray;
                text-decoration: none;
              }
            }

            .owl-prev {
              left: 0;
            }

            .owl-next {
              right: 0;
            }
          }
        }
      }
    }

    .wine-our-products {
      h2 {
        font-family: "Cinzel", serif;
        font-size: 32px;
        font-weight: 400;
        text-transform: capitalize;
        text-align: center;
      }
      p {
        color: #000;
        text-align: center;
        & > a {
          color: #930077;
          text-transform: capitalize;
        }
      }
      .wine-item {
        text-align: center;
        position: relative;
        margin-bottom: 30px;
        &::before {
          content: "";
          background: #f3f4f5;
          top: 20%;
          bottom: 0;
          left: 0;
          right: 0;
          position: absolute;
          z-index: -1;
        }
        & > a {
          color: #930077;
          text-decoration: none;
          background-color: transparent;
          transition: 0.3s all ease;

          img {
            vertical-align: middle;
            max-width: 350px;
          }
        }
        .heading {
          font-size: 18px;
          & > a {
            color: #000;
          }
        }
        .price {
          color: gray;
        }
      }
    }
    .hero {
      background-image: url(../i/slide-2.jpg);
      background-size: cover;
      position: relative;
      background-attachment: fixed;
      background-position: center center;
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        background: #222;
        opacity: 0.3;
        border-bottom-right-radius: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .sub-title {
        font-family: "Cinzel", serif;
        color: #fff;
        font-size: 1.5rem;
      }
      h2 {
        font-size: 5rem;
        font-weight: 300;
        color: #fff;
        font-family: montserrat;
        font-weight: 900;
        text-transform: uppercase;
      }
    }
    .wine-about {
      .testimony {
        margin-top: 60px;
        font-size: 20px;
        font-family: "Cinzel", serif;
        text-align: center;
        text-transform: none !important;
        img {
          max-width: auto !important;
          width: 80px !important;
          border: 4px solid #930077;
          margin-bottom: 30px;
          border-radius: 50%;
          margin-left: auto !important;
          margin-right: auto !important;
        }
        .text-primary {
          color: #930077 !important;
        }
      }
    }

    .wine-blog {
      h2 {
        font-family: "Cinzel", serif;
        font-size: 32px;
        font-weight: 400;
        text-transform: capitalize;
        text-align: center;
      }
      p {
        color: #000;
        text-align: center;
        & > a {
          color: #930077;
          text-transform: capitalize;
        }
      }
      .wine-post {
        padding-bottom: 40%;
        h2 {
          & > a {
            font-size: 20px;
            line-height: 0.1 !important;
          }
        }
        p {
          color: gray;
          font-size: 16px;
          text-align: left;
        }
        .post-meta {
          font-size: 12px;
          color: gray;
        }
      }
    }
  }

  .wine-foot {
    height: 300px;
    margin-top: 100px;
    .wine-social {
      .wine-social-facebook,
      .wine-social-twitter,
      .wine-social-youtube,
      .wine-social-instagram {
        color: #fff;
      }
      a {
        display: inline-block;
        text-align: center;
        width: 40px;
        height: 40px;
        background-color: #930077;
        border-radius: 100%;
        margin-right: 5px;
      }
    }
    .wine-designed {
      margin-top: 100px;
      .text-muted {
        font-size: 14px;
      }
    }
  }
}
