@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

// $arxa-reng: "background-color: red";

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;

  .wine-header {
    padding: 25px 0;
  }

  .wine-nav {
    height: 60px;
    .active {
      & > a {
        color: #930077 !important;
      }
    }
    .nav-item {
      padding-right: 30px;
      &:last-child {
        padding-right: 0;
      }
      a {
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 0.05rem;
        font-weight: 400;
        color: #000;
        transition-duration: 500ms;
        &:hover {
          color: #930077;
          transition-duration: 500ms;
        }
      }
    }
  }

  .container-fluid {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    .container {
      .wine-slide {
        position: relative;
        .wine-slide-img {
          background-size: cover;
          background-position: center center;
        }
        .owl-theme {
          .custom-nav {
            position: absolute;
            top: 40%;
            left: -10%;
            right: -10%;

            .owl-prev,
            .owl-next {
              position: absolute;
              height: 100px;
              color: inherit;
              background-color: #fff;
              border: none;
              z-index: 100;

              i {
                font-size: 2.5rem;
                color: gray;
                text-decoration: none;
              }
            }

            .owl-prev {
              left: 0;
            }

            .owl-next {
              right: 0;
            }
          }
        }
      }
    }
  }
}
